rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow read and write access for all users (for development only)
      allow read, write: if true;
    }
  }
}
